Repository apolloconfig/apollo, pull requests merged in 2021-09, with the labels that each got.

#3933 Update ingress-portal.yaml
  CHANGES.md
  scripts/helm/apollo-portal/templates/ingress-portal.yaml
  scripts/helm/apollo-service/templates/ingress-adminservice.yaml
  scripts/helm/apollo-service/templates/ingress-configservice.yaml
Labels: area/kubernetes

#3971 clean ctrip profile
  apollo-portal/pom.xml
Labels: area/portal

#3943 refactor: let open api more easier to use and development
  CHANGES.md
  apollo-openapi/src/main/java/com/ctrip/framework/apollo/openapi/api/AppOpenApiService.java
  apollo-openapi/src/main/java/com/ctrip/framework/apollo/openapi/api/ClusterOpenApiService.java
  apollo-openapi/src/main/java/com/ctrip/framework/apollo/openapi/api/ItemOpenApiService.java
  apollo-openapi/src/main/java/com/ctrip/framework/apollo/openapi/api/NamespaceOpenApiService.java
  apollo-openapi/src/main/java/com/ctrip/framework/apollo/openapi/api/ReleaseOpenApiService.java
  apollo-openapi/src/main/java/com/ctrip/framework/apollo/openapi/client/ApolloOpenApiClient.java
  apollo-openapi/src/main/java/com/ctrip/framework/apollo/openapi/client/service/AppOpenApiService.java
  apollo-openapi/src/main/java/com/ctrip/framework/apollo/openapi/client/service/ClusterOpenApiService.java
  apollo-openapi/src/main/java/com/ctrip/framework/apollo/openapi/client/service/ItemOpenApiService.java
  apollo-openapi/src/main/java/com/ctrip/framework/apollo/openapi/client/service/NamespaceOpenApiService.java
  apollo-openapi/src/main/java/com/ctrip/framework/apollo/openapi/client/service/ReleaseOpenApiService.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/openapi/server/service/ServerAppOpenApiService.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/openapi/server/service/ServerClusterOpenApiService.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/openapi/server/service/ServerItemOpenApiService.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/openapi/server/service/ServerNamespaceOpenApiService.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/openapi/server/service/ServerReleaseOpenApiService.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/openapi/v1/controller/AppController.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/openapi/v1/controller/ClusterController.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/openapi/v1/controller/ItemController.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/openapi/v1/controller/NamespaceController.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/openapi/v1/controller/ReleaseController.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/portal/environment/Env.java
  apollo-portal/src/test/java/com/ctrip/framework/apollo/openapi/v1/controller/AppControllerTest.java
  apollo-portal/src/test/java/com/ctrip/framework/apollo/openapi/v1/controller/NamespaceControllerWithAuthorizationTest.java
  apollo-portal/src/test/resources/sql/openapi/NamespaceControllerTest.testCreateAppNamespace.sql
Labels: enhancement, area/openapi, area/portal

#3980 feat(scripts): use bash to call openapi
  .gitattributes
  CHANGES.md
  docs/zh/usage/apollo-open-api-platform.md
  scripts/openapi/bash/openapi-usage-example.sh
  scripts/openapi/bash/openapi.sh
Labels: area/openapi

#3977 support search by item
  CHANGES.md
  apollo-adminservice/src/main/java/com/ctrip/framework/apollo/adminservice/controller/NamespaceController.java
  apollo-biz/src/main/java/com/ctrip/framework/apollo/biz/repository/ItemRepository.java
  apollo-biz/src/main/java/com/ctrip/framework/apollo/biz/repository/NamespaceRepository.java
  apollo-biz/src/main/java/com/ctrip/framework/apollo/biz/service/ItemService.java
  apollo-biz/src/main/java/com/ctrip/framework/apollo/biz/service/NamespaceService.java
  apollo-core/src/test/java/com/ctrip/framework/apollo/core/utils/StringUtilsTest.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/portal/api/AdminServiceAPI.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/portal/component/config/PortalConfig.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/portal/controller/AppController.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/portal/controller/SearchController.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/portal/service/AppService.java
  apollo-portal/src/main/java/com/ctrip/framework/apollo/portal/service/NamespaceService.java
  apollo-portal/src/main/resources/static/i18n/en.json
  apollo-portal/src/main/resources/static/i18n/zh-CN.json
  apollo-portal/src/main/resources/static/scripts/controller/config/ConfigBaseInfoController.js
  apollo-portal/src/main/resources/static/scripts/controller/config/ConfigNamespaceController.js
  apollo-portal/src/main/resources/static/scripts/directive/directive.js
  apollo-portal/src/main/resources/static/scripts/directive/namespace-panel-directive.js
  apollo-portal/src/main/resources/static/styles/common-style.css
  apollo-portal/src/main/resources/static/views/component/namespace-panel-master-tab.html
  apollo-portal/src/test/java/com/ctrip/framework/apollo/portal/controller/SearchControllerTest.java
  docs/zh/deployment/distributed-deployment-guide.md
  scripts/sql/delta/v190-v1_10_0/apolloconfigdb-v190-v1_10_0.sql
Labels: area/portal

#3887 Update dotnet-sdk-user-guide.md
  CHANGES.md
  docs/zh/usage/dotnet-sdk-user-guide.md
Labels: area/document

#4007 Removed useless hardcoded Strings in `EnvUtils`.
  apollo-core/src/main/java/com/ctrip/framework/apollo/core/enums/EnvUtils.java
  apollo-core/src/test/java/com/ctrip/framework/apollo/core/enums/EnvUtilsTest.java
Labels: chore
